/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D9B391;
  padding: 1rem 3rem;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar-logo a {
  font-size: 2rem;
  font-weight: bold;
  color: #733702;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a,
.navbar-icons a,
.dropdown span {
  text-decoration: none;
  color: #733702;
  font-weight: 600;
  font-size: 1.4rem;
  transition: color 0.3s, transform 0.2s;
}

.navbar-links li a:hover,
.navbar-icons a:hover,
.dropdown:hover span {
  color: #BF702A;
  transform: translateY(-3px);
}

/* ÍCONOS */
.navbar-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem; 
  margin-right: 1.4rem; 

}

.logout-icon,
.cart-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* BOTÓN HAMBURGUESA */
.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #733702;
  cursor: pointer;
}
/* Botón de login en círculo */
.login-button {
  background-color: #f8f1ea;  
  border-radius: 50%;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

/* Ícono de login */
.login-icon {
  font-size: 1.5rem;
  color: #733702;
  transition: color 0.3s ease;
}

/* Hover: fondo más claro e ícono color rojo */
.login-button:hover {
  background-color: #fde9e5;
}

.login-button:hover .login-icon {
  color: #c0392b;
}

/* Usuario */
.logout-icon {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 10px;
}
.logout-icon:hover {
  color: red;
  transform: scale(1.1);
}


.user-saludo {
  margin-right: 10px;
  font-weight: bold;
  color: #444;
}

/* RESPONSIVE: móviles y tablets */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .hamburger {
    display: block;
  }

  .navbar-links {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    gap: 1rem;
    margin-top: 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
  .navbar-icons {
    width: 100%;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 1.5rem;
  }
}

