.jornadas-container {
  text-align: center;
  background-color: #fefefe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mascotas-img {
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.calendar-icon {
  width: 80px;
  height: auto;
  margin-bottom: 1.5rem;
}

.jornadas-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #222;
}

.bold {
  font-weight: bold;
}

@media (max-width: 576px) {
.jornadas-container {
  justify-content: center;
  margin: 0 1rem;
}
}