.jornadas {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.jornadas-imagen {
    width: 100%;
    max-width: 600px;
    margin: 120px auto 30px;
    display: block;
}

.jornadas-calendario {
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
    display: block;
    margin-bottom: 20px;
}

.jornadas-texto p {
    font-size: 16px;
    margin: 10px 0;
    color: #222;
}

.jornadas-texto p:first-child {
    font-weight: 500;
}

.jornadas-texto p:last-child {
    margin-bottom: 0;
}
